/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {}

#header .image {
    background-image: url("../images/background_flipped.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
    padding-top: 100%;
    display: inline-block;
}

#header .image #slogan-1 {
    color: deepskyblue;
}

#header .image #slogan-1 span {
    font-size: 10vmax;
}
/* slogan-1 Art */

#header .image #slogan-1 #first-word {
    position: relative;
    right: 7vw;
    top: -97vw;
    -webkit-transform: rotate(-100deg);
    -moz-transform: rotate(-100deg);
    transform: rotate(-100deg);
}

#header .image #slogan-1 #second-word {
    position: relative;
    right: 5vw;
    top: -120vw;
    -webkit-transform: rotate(-95deg);
    -moz-transform: rotate(-95deg);
    transform: rotate(-95deg);
}

#header .image #slogan-1 #third-word {
    position: relative;
    right: 2.5vw;
    top: -131vw;
    -webkit-transform: rotate(-92deg);
    -moz-transform: rotate(-92deg);
    transform: rotate(-92deg);
}

#header .image #slogan-1 #fourth-word {
    position: relative;
    width: 20vw;
    right: -44.3vw;
    top: -95vw;
    -webkit-transform: rotateY(10deg);
    -moz-transform: rotateY(10deg);
    transform: rotateY(15deg);
}
/* Inidividual Letters */

#header .image #slogan-1 #first-word span:nth-of-type(1) {
    font-size: 5vmax;
}

#header .image #slogan-1 #first-word span:nth-of-type(2) {
    font-size: 4.5vmax;
}

#header .image #slogan-1 #first-word span:nth-of-type(3) {
    font-size: 4.2vmax;
}

#header .image #slogan-1 #first-word span:nth-of-type(4) {
    font-size: 4vmax;
}

#header .image #slogan-1 #first-word span:nth-of-type(5) {
    font-size: 3.8vmax;
}

#header .image #slogan-1 #first-word span:nth-of-type(6) {
    font-size: 3.6vmax;
}

#header .image #slogan-1 #second-word span:nth-of-type(1) {
    font-size: 3.5vmax;
}

#header .image #slogan-1 #second-word span:nth-of-type(2) {
    font-size: 3.4vmax;
}

#header .image #slogan-1 #third-word span:nth-of-type(1) {
    font-size: 3.3vmax;
}

#header .image #slogan-1 #third-word span:nth-of-type(2) {
    font-size: 3.2vmax;
}

#header .image #slogan-1 #fourth-word span:nth-of-type(1) {
    font-size: 3.6vmax;
}

#header .image #slogan-1 #fourth-word span:nth-of-type(2) {
    font-size: 3.6vmax;
}

#header .image #slogan-1 #fourth-word span:nth-of-type(3) {
    font-size: 3.6vmax;
}

#header .image #slogan-1 #fourth-word span:nth-of-type(4) {
    font-size: 3.6vmax;
}

#header .image #name {
    font-size: 7vw;
    position: absolute;
    right: 1.5vw;
    top: -1.5vw;
    z-index: 1;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(128, 15, 101, 0.2) 80%, rgba(128, 15, 101, 0) 100%);
    /* ff3.6+ */

    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgb(230, 216, 205), color-stop(95%, rgba(128, 15, 101, 0.9))));
    /* safari4+,chrome */

    background: -webkit-radial-gradient(center, ellipse cover, rgb(230, 216, 205) 0%, rgba(128, 15, 101, 0.9) 95%);
    /* safari5.1+,chrome10+ */

    background: -o-radial-gradient(center, ellipse cover, rgb(230, 216, 205) 0%, rgba(128, 15, 101, 0.9) 95%);
    /* opera 11.10+ */

    background: -ms-radial-gradient(center, ellipse cover, rgb(230, 216, 205) 0%, rgba(128, 15, 101, 0.9) 95%);
    /* ie10+ */

    background: radial-gradient(ellipse at center, rgb(230, 216, 205) 0%, rgba(128, 15, 101, 0.9) 95%);
    /* w3c */

    background-clip: text;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#800F65', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* ie6-9 */
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-table;
    height: 45px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

#nav li {
    display: table-cell;
    height: 45px;
    width: 20%;
    line-height: 45px;
    text-align: center;
    background: black;
    align-content: center;
    border-right: 1px solid #fff;
    white-space: nowrap;
    color: aliceblue;
}

.jumbotron {
    font-family: sans-serif;
}
/*
do a highlight gradient on tname
*/

.gradient {}

.rotate {
    -webkit-transform: rotate(-100deg);
    -moz-transform: rotate(-100deg);
    transform: rotate(-100deg);
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

@media (max-width: 767px) {
    #nav li {
        display: block;
        width: 100%;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */

        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
