/* ==========================================================================
   Homepage Style Sheet
   ========================================================================== */

body {
    overflow-y: hidden;
}
/*Preload Slideshow Images */
/*
body:after {
    display: none;
    content: url(/images/backgrounds/home/live.jpg) url(/images/backgrounds/home/learn.jpg) url(/images/backgrounds/home/grow.jpg) url(/images/backgrounds/home/experience.jpg) url(/images/backgrounds/home/love.jpg);
}
*/
/* Whole Page Slideshow */
/*
main {
    width: 100vw;
    height: 100vh;
    background-image: url(/images/backgrounds/home/grow.jpg);
    background-position: 50% 75%;
    background-size: cover;
}
*/
/* Background Image Styles */

#images div {
    height: 100%;
    width: 100%;
    background-size: cover;
}

#images .live {
    background-image: url(/images/backgrounds/home/live.jpg);
    background-position: 50% 100%;
    background-size: cover;
}

#images .learn {
    background-image: url(/images/backgrounds/home/learn.jpg);
    background-position: 50% 0;
    background-size: cover;
}

#images .grow {
    background-image: url(/images/backgrounds/home/grow.jpg);
    background-position: 50% 20%;
    background-size: cover;
}

#images .experience {
    background-image: url(/images/backgrounds/home/experience.jpg);
    background-position: 50% 30%;
    background-size: cover;
}

#images .love {
    background-image: url(/images/backgrounds/home/love.jpg);
    background-position: 68% 60%;
    background-size: cover;
}
/* Black and White to Color */
/*
body {
    -moz-animation: toColor ease-in 5s;
    -webkit-animation: toColor ease-in 5s;
    animation: toColor ease-in 5s;
}

@-moz-keyframes toColor {
    from {
        filter: grayscale(100%);
    }
    to {
        filter: grayscale(0%);
    }
}

@-webkit-keyframes toColor {
    from {
        filter: grayscale(100%);
    }
    to {
        filter: grayscale(0%);
    }
}

@keyframes toColor {
    from {
        filter: grayscale(100%);
    }
    to {
        filter: grayscale(0%);
    }
}
*/
/* Verbs */

#slideshow div#verbs {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
}

#slideshow div#verbs span {
    font-size: 50px;
    margin: 20px;
    color: aliceblue;
}

#slideshow div#verbs .live {
    color: aliceblue;
}

#slideshow div#verbs .learn {
    color: darkslategray;
}

#slideshow div#verbs .experience {
    color: black;
}

#slideshow div#verbs .grow {
    color: #4a2003;
}

#slideshow div#verbs .love {
    color: #49e3ff;
}
/* Slideshow Styles */

#images {
    width: 100vw;
    height: 100vh;
}

#images > div {
    position: absolute;
}
/* Photo Credit */

#credit {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

#credit a {
    color: aliceblue;
}
