/* ==========================================================================
   Resume Page Style Sheet
   ========================================================================== */

body {
    background-color: grey;
    overflow-y: hidden;
    height: 200vh;
}

main {
    padding: 0;
    height: 100%;
}

#cv {
    display: table;
    position: absolute;
    width: 100%;
    table-layout: fixed;
    top: 60px;
}

#cv div {
    font-family: 'Stalemate', cursive;
    height: 64vw;
    width: 50%;
    display: inline-block;
    text-align: center;
    height: max-height: -moz-calc(100vh - 190px);
    max-height: -webkit-calc(100vh - 190px);
    max-height: calc(100vh - 190px);
}

#cv a {
    font-size: 50px;
}

@media screen and (max-width: 960px) {
    #cv {
        top: 80px;
        overflow-y: scroll;
    }
    #cv div {
        padding: 0 40px;
        margin-bottom: 11vh;
        display: block;
        height: 128vw;
        width: 100%;
    }
    ::-webkit-scrollbar {
        display: clear;
    }
}
