/* ==========================================================================
   Resume Page Style Sheet
   ========================================================================== */

body {
    background-color: grey;
    overflow-y: hidden;
    height: 200vh;
}

main {
    padding: 0;
    height: 100%;
}

.content {
    display: table;
    position: absolute;
    width: 100%;
    table-layout: fixed;
    top: 60px;
}

.content div {
    padding: 15px;
    font-family: 'Stalemate', cursive;
    font-size: 55px;
    height: 64vw;
    display: inline-block;
    text-align: center;
    width: 50%;
    height: max-height: -moz-calc(100vh - 190px);
    max-height: -webkit-calc(100vh - 190px);
    max-height: calc(100vh - 190px);
}

.content a {
    font-size: 50px;
}

@media screen and (max-width: 960px) {
    .content {
        top: 80px;
        overflow-y: scroll;
    }
    .content div {
        padding: 0 40px;
        margin-bottom: 11vh;
        display: block;
        height: 128vw;
        width: 100%;
    }
    ::-webkit-scrollbar {
        display: clear;
    }
}
